body {
    margin: 0;
    padding: 50;
}
.right-align {
    text-align: right;
}
.center-align {
    text-align: center;;
}
.float-right {
    float: right;
}
.book-store {
    .header {
        padding: 10px;
        border-bottom: 1px solid #b1b1b1;
        background-color: #ececec;
        margin-bottom: 40px;
        h1 {
            display: inline;
        }
    }
    .content {
        margin: 5px 2%;
    }
    .add-book {
        &.form {
            width: 500px;
        }
    }
    .book-drawer {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background-color: #e2e2e2;
        padding: 10px;
        min-width: 300px;
    }
}
